body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


header {
    display: flex;
    background-color: #012B39;
    color: #5B5A56;
    padding: 1px;
    text-align: center;
    animation: slideDown 1s ease-out;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: Inter, sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    padding: 0;
    float: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 40px;
    padding: 10px 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #1F7A8C;
}

nav ul img {
    margin-right: auto;
}


@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.decoration-line{
    width: 100%;
    height: 80px;
    margin: 0;
}

.button-container {
    display: flex;

    margin-top: 100px;
    flex-direction: column;
    align-items: center;

}

.nav-button {
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 50px 0;
}

.nav-button:hover {
    background-color: #D0E1F5;
}


.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin: 0 10px;
}

.profile-link {
    display: flex;
    align-items: center;
}

.profile-logo {
    width: 60px; /* Adjust the size of the profile logo as needed */
    height: 40px;
    margin-left: 10px; /* Add some space between the profile icon and the links */
}